@model AmusementParkExplorer.Models.AttractionTypeDetail

@{
    ViewBag.Title = "Details";
}

<h2>Attraction Type Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttractionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttractionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttractionTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
